<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Jessica Alba</title>
  </head>
  <body>
     <h1>Джессика Альба</h1>
     <img src="https://avatars.mds.yandex.net/i?id=b4eb55a13a651d8a61b7493bf1e7f598-5310557-images-thumbs&n=13&exp=1"><br>
      <p>Привет, я американская актриса и предприниматель, а это моя страничка!</p>
      <p>Вот страница моего профиля на <a href="https://www.imdb.com/name/nm0004695/">IMDB.</a> </p>
      <p>А это моя страница на <a href="https://www.kinopoisk.ru/name/21931/">Кинопоиске.</a> </p>
      <hr>
      <p>
          <strong>Факты обо мне:</strong> <div>
          <em>Полное имя — Джессика Мари Альба (Jessica Marie Alba).</em><br>
          <del>Когда я была маленькой, у меня была астма.</del><br>
           <ins>Мои родители — Кэтрин и Марк Альба.</ins><br>
          <mark>У моей матери датские и франкоканадские корни.</mark><br>
          <mark>Мой отец — мексиканец американского происхождения.</mark><br>
          <mark>У меня есть младший брат Джошуа. </mark><br>
          <small>У меня есть <ins>татуировка</ins> на запястье, которая означает <em>«Цветок Лотоса»</em> на санскрите.</small>
      </p>
  </body>
</html>
